:root {
--LightGrey: hsl(217, 12%, 63%);
--MediumGrey: hsl(216, 12%, 54%);
--DarkBlue: hsl(213, 19%, 18%);
--VeryDarkBlue: hsl(216, 12%, 8%);
--orange: hsl(25, 97%, 53%);
}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    place-content: center;
    font-family: Overpass;
    min-height: 100vh;
    
}

#rate {
    display: grid;
    align-self: center;
    padding: 1.5rem;
    width: 300px;
    background-color: var(--VeryDarkBlue);
    border-radius: 20px;
    
}
.star {
    padding: .5rem;
    background-color: var(--DarkBlue);
    border-radius: 50%;
    animation: shadowstar 5s infinite;
}

#thankstate {
    display: none;
    margin: auto;
    position: absolute;
    align-self: center;
    justify-self: center;
    padding: 1.5rem;
    width: 300px;
    background-color: var(--VeryDarkBlue);
    border-radius: 20px;
    text-align: center;
}

.tyimg {
    justify-self: center;
    margin: 1rem 0 2rem 0;
}
.numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.num {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--DarkBlue);
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.num:hover{
    background-color: var(--orange);
    cursor: pointer;
    box-shadow:  0 0 10px var(--MediumGrey);
}

h1 {
    font-size: 2rem;
}
h2 {
    padding: .5rem;
    margin: 1rem 0 0 0;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    background-color: var(--orange);
    border-radius: 20px;
}

h2:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow:  0 0 10px var(--MediumGrey);
}

h3 {
    color: var(--orange);
    border-radius: 20px;
    background-color: var(--DarkBlue);
    margin: auto;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
}

h4 {
    font-size: 2rem;
    font-weight: 700;
    margin: 2rem 0 1rem 0;
    animation: shadows 1s infinite;
}

h5 {
    margin: auto;
    padding: 0.45rem 1rem;
    background-color: var(--DarkBlue);
    border-radius: 20px;
}

h5:hover {
    background-color: var(--orange);
    cursor: pointer;
}
p { 
    font-size: .85rem;
    font-weight: 400;
    color: var(--MediumGrey);
}

#reload:hover {
    cursor: pointer;
}

@keyframes shadows {
    0% { text-shadow: #48abe0 0 0 25px; }
    50% { text-shadow: blueviolet 0 0 25px; }
    75% { text-shadow: rebeccapurple 0 0 25px;}
    100% { text-shadow: #48abe0 0 0 25px; }
   }

@keyframes shadowstar {
    0% { box-shadow: white 0 0 25px; }
    50% { box-shadow: rgb(170, 172, 29)}
    75% { box-shadow: orange 0 0 25px;}
    100% { box-shadow: #e2e6e7 0 0 25px; }
}